boby{padding: 50px;
margin-bottom: 59px;
margin-top: 250px;
margin-left: 50px;

}
.hello{
    color: greenyellow;
text-align: justify;
text-emphasis: rgb(3, 134, 3);
}
.narbar{ button{background-color: black;
color: aliceblue;
text: size adjust 20px; ;}
    background-color: greenyellow;
    color: blanchedalmond;
    th{border: 1px solid rgb(82, 79, 79);
    text-align: left;
padding: 8px;}
h1{
    background-color: black;
    color: beige;
}
}
