

button{  color:rgb(218, 6, 6);

text-align: end;}
a{
    text-align: right;
}  

.two
{
background-image:url(../Images/images.jpeg);
text-align: center;
color:whitesmoke;
background-color: aliceblue;
}
.three{background-color: black;
color: bisque;
}   
.want{
    background-color: rgb(15, 15, 15);
    color: rgb(243, 240, 236);
} 
